@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Lato:wght@400;500;700&display=swap');

/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343a50;
  --card-background-color: #51576d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #f7f6f4;
  --title-text-color: #e4f800;
}

body {
  background-color: var(--main-background-color);
  /*background: url('img/background.png');
  background-size: cover; */

  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size:  16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Changa One', Impact, sans-serif;
}

.candy-stat-component-title {
  font-family: 'Changa One', Impact, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}

.css-1lsxyx4 .candy-label {
  color: var(--title-text-color);
}